<c-container>
  <c-row>
    <c-col xs="12">
      <c-card>
        <c-card-header>[Event Name]</c-card-header>
        <c-card-body>
          <c-row>
            <c-col xs="12" md="6">
              <div>Event ID: [Event_ID]</div>
            </c-col>
            <c-col xs="12" md="6">
              <div>Event Type: [ComboEventType]</div>
            </c-col>
          </c-row>
          <c-row>
            <c-col xs="12" md="6">
              <div>Event Location: [ComboEventLocation]</div>
            </c-col>
            <c-col xs="12" md="6">
              <div>Start Date: [Start_Date]</div>
            </c-col>
          </c-row>
          <c-row>
            <c-col xs="12" md="6">
              <div>End Date: [End_Date]</div>
            </c-col>
            <c-col xs="12" md="6">
              <div>Event Start Time: [EventStartTime]</div>
            </c-col>
          </c-row>
          <c-row>
            <c-col xs="12" md="6">
              <div>Event Information End Time: [Event_Inforrmation_End_Time]</div>
            </c-col>
            <c-col xs="12" md="6">
              <div>Minimum Attendees: [Minimum_Attendees]</div>
            </c-col>
          </c-row>
          <c-row>
            <c-col xs="12" md="6">
              <div>Maximum Attendees: [Maximum_Attendees]</div>
            </c-col>
            <c-col xs="12" md="6">
              <div>Registered Members: [SfRegisteredMembers]</div>
            </c-col>
          </c-row>
          <c-row>
            <c-col xs="12" class="text-end">
              <button class="me-2">[btnQuit]</button>
              <button>[btnSave]</button>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>
